.transition-appear {
	transform: translateY(250px);
	transition: transform 450ms ease-in;
	opacity: 0;
}

.transition-appear-active {
	transform: translateY(200px);
	transition: transform 450ms ease-in;
	opacity: 0;
}

.transition-enter {
	transform: translateY(150px);
	transition: transform 450ms ease-in;
}
.transition-enter-active {
	transform: translateY(100px);
	transition: transform 450ms ease-in;
}

.transition-enter-done {
	transform: translateY(80px);
	transition: transform 450ms ease-in;
}
.transition-exit {
	transform: translateY(50px);
	transition: transform 450ms ease-in;
}
.transition-exit-active {
	transform: translateY(0px);
	transition: transform 450ms ease-in;
}

.transition-exit-done {
	transform: translateY(0px);
	transition: transform 450ms ease-in;
}

.second-slide-animation-wrapper {
	display: flex;
	position: relative;
	.main-image {
		width: 75% !important;
		margin: 2rem auto 0;
	}

	.left-image {
		position: absolute;
		left: -3rem;
		top: 10rem;
		width: 8rem !important;
		opacity: 0;
		transform: scale(0);

		&.loaded {
			opacity: 1;
			transform: scale(1);
			transition:
				opacity 250ms ease-in-out 450ms,
				transform 250ms ease-in-out 450ms;
		}
	}
	.right-image {
		position: absolute;
		right: -3rem;
		top: 6rem;
		width: 8rem !important;
		opacity: 0;
		transform: scale(0);
		&.loaded {
			opacity: 1;
			transform: scale(1);
			transition:
				opacity 250ms ease-in-out 600ms,
				transform 250ms ease-in-out 600ms;
		}
	}
}

@media screen and (min-width: 1024px) {
	.second-slide-animation-wrapper {
		.left-image {
			left: -4rem;
			top: 20rem;
			width: 10rem !important;
		}

		.right-image {
			right: -4rem;
			top: 13rem;
			width: 10rem !important;
		}
	}
}
