.transition-appear {
	transform: translateY(250px);
	transition: transform 450ms ease-in;
	opacity: 0;
}

.transition-appear-active {
	transform: translateY(200px);
	transition: transform 450ms ease-in;
	opacity: 0;
}

.transition-enter {
	transform: translateY(150px);
	transition: transform 450ms ease-in;
}
.transition-enter-active {
	transform: translateY(100px);
	transition: transform 450ms ease-in;
}

.transition-enter-done {
	transform: translateY(80px);
	transition: transform 450ms ease-in;
}
.transition-exit {
	transform: translateY(50px);
	transition: transform 450ms ease-in;
}
.transition-exit-active {
	transform: translateY(0px);
	transition: transform 450ms ease-in;
}

.transition-exit-done {
	transform: translateY(0px);
	transition: transform 450ms ease-in;
}



